@import "tailwindcss";

:root {
  --background: #ede1d1;
  --foreground: #252c59;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #252c59;
  --color-secondary: #517348;
  --color-cream: #ede1d1;
  --color-accent: #e2b53e;
  --color-danger: #d92b2b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
