@import "tailwindcss";

@theme {
  --color-primary: #497CBF;
  --color-primary-dark: #3A5A8C;
  --color-primary-light: #8FAFD9;
  --color-surface-bg: #CEDEF2;
  --color-surface-card: #FFFFFF;
  --color-surface-border: #8FAFD9;
  --color-text-heading: #1D2F40;
}